body {
    font-family: 'Times New Roman', Times, serif; /* Mengatur font default untuk teks */
    margin: 0; /* Menghilangkan margin default dari body */
    padding: 0; /* Menghilangkan padding default dari body */
    background-color: #f9f9f9; /* Memberikan warna latar belakang untuk halaman */
}

.container {
    max-width: 800px; /* Lebar maksimum kontainer */
    margin: 20px auto; /* Posisi kontainer di tengah halaman */
    padding: 20px; /* Padding untuk ruang di dalam kontainer */
    background-color: #f7f3f3; /* Warna latar belakang kontainer */
    border-radius: 10px; /* Memberikan sudut bulat pada kontainer */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Memberikan bayangan pada kontainer */
}

