body {
    font-family: 'Times New Roman', Times, serif; /* Mengatur font default untuk teks */
    margin: 0; /* Menghilangkan margin default dari body */
    padding: 0; /* Menghilangkan padding default dari body */
    background-color: #070707; /* Memberikan warna latar belakang untuk halaman */
}

.utama {
    max-width: 800px; /* Lebar maksimum utama */
    margin: 20px auto; /* Posisi kontainer di tengah halaman */
    padding: 20px; /* Padding untuk ruang di dalam utama */
    background-color: #f7f3f3; /* Warna latar belakang utama */
    border-radius: 10px; /* Memberikan sudut bulat pada utama */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Memberikan bayangan pada utama */
}

h1 {
    text-align: center; /* Posisi teks menjadi rata tengah */
    color: #030303; /* Warna teks */
    margin-bottom: 20px; /* Margin bawah */
}

/* CSS untuk mengatur tata letak gambar */
img {
    display: block; /* Menjadikan gambar sebagai elemen blok */ 
    margin: 0 auto; /* Mengatur margin atas dan bawah menjadi 0 dan margin samping menjadi otomatis sehingga gambar berada di tengah */
    width: 250px; /* Mengatur lebar gambar */
    height: auto; /* Mengatur ketinggian gambar agar tetap proporsional */
    border-radius: 8px; /* Mengatur sudut border menjadi melengkung */
    margin-bottom: 20px; /* Memberikan margin bawah 20px */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk efek penekanan */
    transition: transform 0.3s ease-in-out; /* Mengatur efek transisi saat gambar dihover */
}


img:hover {
    transform: scale(1.1); /* Efek scaling saat gambar dihover */
}

p {
    text-align: justify; /* Posisi teks menjadi rata kanan dan kiri */
    line-height: 1.6; /* Tinggi baris */
    margin-bottom: 20px; /* Margin bawah */
    color: #555; /* Warna teks */
}

strong {
    font-weight: bold; /* Membuat teks menjadi tebal */
    color: #333; /* Warna teks */
}

em {
    font-style: italic; /* Membuat teks menjadi miring */
}

ul {
    margin-bottom: 20px; /* Margin bawah */
    padding-left: 20px; /* Padding kiri */
    color: #555; /* Warna teks */
}

a {
    color: #007bff; /* Warna teks hyperlink */
    text-decoration: none; /* Menghilangkan garis bawah default */
}

a:hover {
    text-decoration: underline; /* Garis bawah saat hover */
}

mark {
    background-color: #2000ae; /* Warna latar belakang untuk elemen yang ditebalkan */
    padding: 2px 5px; /* Padding */
    border-radius: 4px; /* Memberikan sudut bulat */
}

.footer {
    text-align: center; /* Posisi teks menjadi rata tengah */
    margin-top: 20px; /* Margin atas */
    color: #777; /* Warna teks */
}

@media only screen and (max-width: 600px) {
    /* CSS untuk layar dengan lebar maksimum 600px */
    img {
        width: 200px; /* Mengurangi lebar gambar untuk layar kecil */
    }
}